.leftTable {
  display: inline-block;
  width: 40vw;
  margin-top: 10vh;
  margin-left:5vw;
}

.rightTable {
  display: flex;
  flex-direction: column;
  float: right;
  width: 40vw;
  margin-top:10vh;
  margin-right: 5vw;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10vh
}
.carTitel {
  margin-left:5vw;
  margin-bottom: 1.5vh;
  text-align: center;
  width: 30vw;
}

.employeeTitel {
  margin-left:5vw;
  margin-bottom: 3vh;
  text-align: center;
  width:30vw;
}
.columnTitel {
  width: 10vw;
  text-align: center;
}

.adminTitel {
  width: 6vw;
  text-align: center;
  margin-left: 1vh;
}

.buttonTitel {
  width: 7vw;
  text-align: center;
  margin-left: 1vh;
}

.titel {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-left: 28vw;
  margin-top:5vh;
  width: 44vw;
}

.employees {
  margin-left:5vw;
  border-bottom: 1px solid black;
  display: flex;
  width: 30vw;
}

.cars {
  border-bottom: 1px solid black;
  display: flex;
  width: 30vw;
  margin-left: 5vw;
}

.idTitel {
  width: 2vw;
  text-align: center;
}

.brandTitel {
  width: 8vw;
  text-align: center;
}